<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>GitHub Reader</title>
</head>

<body>

<h1>GitHub User Account Info</h1>
</br>
<form action="#" th:action="@{/}" th:object="${token}" method="post">
    <div class="container">
        <p>Enter personal access token:</p>
        <p><input placeholder="Enter token here" type="text" th:field="*{tokenString}"/></p>
        <p><input class="submitBtn" type="submit" value="Submit"/>
            <input class="submitBtn" type="reset" value="Reset"/></p>
    </div>
</form>

</body>
</html>