<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-init-method="init" default-destroy-method="destroy">
	
	<bean id="requestObject" class="useCases.ReadTLEFileRequest">
		<property name="request"><ref bean = "filepathBean"></ref>
		</property>
	</bean>
	
	<bean id="filepathBean" class="java.lang.String">
		<property name="filepath">
			<value>TLE files/geostationary.txt</value>
		</property>
	</bean>

</beans>
